body {
    background-color: #000;
    color: #0f0;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

.terminal {
    margin: 50px;
    padding: 20px;
    border: 2px solid #0f0;
    background-color: #111;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

#terminalText {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.progress-bar-container {
    margin-top: 20px;
    width: 100%;
    background-color: #333;
    border: 1px solid #0f0;
}

#progress-bar {
    width: 1%;
    height: 30px;
    background-color: #0f0;
}

.status {
    margin-top: 20px;
    font-size: 14px;
}

.skull {
    margin-top: 20px;
    text-align: center;
}

.skull img {
    width: 100px;
    height: auto;
}
